### Settings###

In [12]:
import pandas as pd
from os.path import join
from datetime import datetime

In [20]:
global_path = 'C:\\Data\\UCL\\@MSc Project - Data and sources\\List of bonds'

# date range
min_date = datetime.strptime(
    '2018-04-01', '%Y-%m-%d'
)

max_date = datetime.strptime(
    '2020-07-31', '%Y-%m-%d'
)

# load the data
sp_bonds = pd.read_csv(
    join(global_path, 'Bond_dataset.csv')
)
ftse_bonds = pd.read_csv(
    join(global_path, 'Bond_FTSE_dataset.csv')
)
euro_bonds = pd.read_csv(
    join(global_path, 'Bond_EURO_dataset.csv')
)

# explicitlity enforce Date column to have date format
sp_bonds['Date'] = pd.to_datetime(sp_bonds['Date'])
ftse_bonds['Date'] = pd.to_datetime(ftse_bonds['Date'])
euro_bonds['Date'] = pd.to_datetime(euro_bonds['Date'])

# filter the data
sp_bonds = (
    sp_bonds[(sp_bonds.Date >= min_date) & (sp_bonds.Date <= max_date)]
)

ftse_bonds = (
    ftse_bonds[(ftse_bonds.Date >= min_date) & (ftse_bonds.Date <= max_date)]
)

euro_bonds = (
    euro_bonds[(euro_bonds.Date >= min_date) & (euro_bonds.Date <= max_date)]
)

In [21]:
sp_bonds

,Bond,Company,Symbol,Date,Ask_price,Bid_price,Spread,Maturity,TTM
0,ABT 1.15 01/30/2028 CORP,Abbott Laboratories,ABT,2020-06-30,100.470,100.184,58.779,2028-01-30,7.59
1,ABT 1.15 01/30/2028 CORP,Abbott Laboratories,ABT,2020-07-31,102.747,102.459,38.225,2028-01-30,7.50
19,ABT 4.9 11/30/2046 CORP,Abbott Laboratories,ABT,2018-04-30,108.022,107.699,129.934,2046-11-30,28.61
20,ABT 4.9 11/30/2046 CORP,Abbott Laboratories,ABT,2018-05-31,107.798,107.480,141.205,2046-11-30,28.52
21,ABT 4.9 11/30/2046 CORP,Abbott Laboratories,ABT,2018-06-30,107.677,107.362,145.022,2046-11-30,28.44
...,...,...,...,...,...,...,...,...,...
76854,ZTS 4.45 08/20/2048 CORP,Zoetis,ZTS,2020-03-31,120.875,119.685,206.902,2048-08-20,28.41
76855,ZTS 4.45 08/20/2048 CORP,Zoetis,ZTS,2020-04-30,129.601,128.303,169.881,2048-08-20,28.33
76856,ZTS 4.45 08/20/2048 CORP,Zoetis,ZTS,2020-05-31,126.801,125.546,168.883,2048-08-20,28.24
76857,ZTS 4.45 08/20/2048 CORP,Zoetis,ZTS,2020-06-30,130.225,128.928,152.926,2048-08-20,28.16
76858,ZTS 4.45 08/20/2048 CORP,Zoetis,ZTS,2020-07-31,139.836,138.411,133.727,2048-08-20,28.07