In [8]:
# libraries
import pandas as pd

# data paths
bond_path = 'C:\\Data\\UCL\\@MSc Project - Data and sources\\List of bonds\\Bond_dataset.csv'
company_path = 'C:\\Data\\UCL\\@MSc Project - Data and sources\\Sentiment results\\companies_filtered.csv'

# load data
bond_df = pd.read_csv(bond_path)
company_df = pd.read_csv(company_path, index_col=0)

In [10]:
# filter and summarise
(company_df[company_df.Company.isin(bond_df.Company.unique())]
 .groupby('Sector')
 .count()
)

                        id  Company  ListedOn
Sector
Basic Materials         14       14        14
Communication Services  15       15        15
Consumer Cyclical       43       43        43
Consumer Defensive      25       25        25
Energy                  20       20        20
Financial Services      58       58        58
Healthcare              45       45        45
Industrials             46       46        46
Real Estate             15       15        15
Technology              46       46        46
Utilities               23       23        23

In [11]:
print(f'Total companies: {bond_df.Company.unique().shape[0]}')

Total companies: 350