In [4]:
# libraries
import pandas as pd

# data paths
bond_path = 'C:\\Data\\UCL\\@MSc Project - Data and sources\\List of bonds\\Bond_EURO_dataset.csv'
company_path = 'C:\\Data\\UCL\\@MSc Project - Data and sources\\Sentiment results\\companies_filtered.csv'

# load data
bond_df = pd.read_csv(bond_path)
company_df = pd.read_csv(company_path, index_col=0)

In [5]:
# filter and summarise
(company_df[company_df.Company.isin(bond_df.Company.unique())]
 .groupby('Sector')
 .count()
)

                   id  Company  ListedOn
Sector
Consumer Cyclical   1        1         1
Technology          2        2         2

In [6]:
print(f'Total companies: {bond_df.Company.unique().shape[0]}')

Total companies: 3