## Settings

In [5]:
# django path
mysite_path = "C:\\Data\\UCL\\@MSc Project\\DB\\mysite\\"

reviews_path = 'C:\\Data\\UCL\\@MSc Project - Data and sources\\reviews.csv'

In [8]:
import numpy as np
import pandas as pd

import os
from os.path import join
from datetime import datetime

import django
from set_django_db import set_django_db
from asgiref.sync import sync_to_async

In [9]:
# set django models
set_django_db(mysite_path)
from tables_daniel.models import Company, Review

# specifically for Jupyter notebooks
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"

## Load the data

In [10]:
companies = pd.DataFrame(
    list(
        Company
        .objects
        .values('id', 'Company', 'Symbol', 'Sector', 'ListedOn')
        .all()
    )
)

companies_id = list(companies.id)

In [11]:
reviews = list(
    Review
    .objects
    .values(
        'id', 'Company_id', 'ReviewTitle', 'Rating',
        'JobTitle', 'EmployeeRelationship',
        'Contract', 'Pros', 'Cons',
        'Year', 'Month', 'Day'
    )
    .all()
    .filter(Company_id = company_id) for company_id in companies_id
)

reviews_df = pd.DataFrame(
    sum([list(reviews_i) for reviews_i in reviews],[])
).drop_duplicates()

In [12]:
# add sector and company name
reviews_df = reviews_df.merge(
    companies[['id', 'Company', 'Sector', 'ListedOn']].rename(columns={'id': 'Company_id'}),
    on='Company_id'
)

# add date column used for filtering
reviews_df['Date'] = reviews_df.apply(lambda x: '-'.join(
    [str(x['Year']), str(x['Month']), str(x['Day'])]
    ), axis=1
)

reviews_df

,id,Company_id,ReviewTitle,Rating,JobTitle,EmployeeRelationship,Contract,Pros,Cons,Year,Month,Day,Company,Sector,ListedOn,Date
0,24966,1,Part Time,4.0,Anonymous Employee,Former Employee,part-time,"Friendly colleagues, willing to give you disco...",There are some politics going on (like any oth...,2020,7,1,Adidas,Consumer Cyclical,EURO STOXX 50,2020-7-1
1,24967,1,Terrible experience,1.0,Software Engineer,Former Employee,full-time,Some nice welcoming colleagues and benefits (M...,"Really poor culture and collaboration spirit, ...",2020,7,1,Adidas,Consumer Cyclical,EURO STOXX 50,2020-7-1
2,24968,1,Top,5.0,Manager/In,Current Employee,full-time,"Work-Life Balance, nice offices, top sport","Global company, long decision making",2020,6,30,Adidas,Consumer Cyclical,EURO STOXX 50,2020-6-30
3,24969,1,Sales Assistant,4.0,Sales Assistant,Former Employee,part-time,Staff helpfulPay was goof Staff are respectuful,Might get a little hectic,2020,6,29,Adidas,Consumer Cyclical,EURO STOXX 50,2020-6-29
4,24970,1,My experience is too maintain the task and group,2.0,Questions Solving,Former Employee,part-time,My biggest dream is to work with Adidas family,Difficult to maintain but once know easy to ha...,2020,6,28,Adidas,Consumer Cyclical,EURO STOXX 50,2020-6-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403060,81560,649,Review,4.0,Anonymous Employee,Former Employee,full-time,"Work-life balance, great if you have a young f...",Lack of structured career progression,2018,8,27,WPP plc,Communication Services,FTSE 100,2018-8-27
403061,81561,649,Engaging Projects,4.0,Senior Project Manager,Former Employee,full-time,"Flexibility, Responsibility, Authority to get ...",Working across agencies is fun but rarely stru...,2018,8,18,WPP plc,Communication Services,FTSE 100,2018-8-18
403062,81562,649,Healthcare and 401k are a joke,1.0,Anonymous Employee,Current Employee,full-time,none - 401k match is extremely low,"401k has a tiny match, why bother?Healthcare i...",2018,8,16,WPP plc,Communication Services,FTSE 100,2018-8-16
403063,81563,649,Where hacks go to die.,1.0,Anonymous Employee,Former Employee,full-time,Lack of talent is considered a plus.,"Impersonal, low paying, account folk rule the ...",2018,7,17,WPP plc,Communication Services,FTSE 100,2018-7-17
403064,81564,649,No one here gets out alive. Avoid.,1.0,Anonymous Employee,Former Employee,full-time,Ok salary. Work/life balance ok.,"Difficult to know where to begin. Basically, d...",2018,6,26,WPP plc,Communication Services,FTSE 100,2018-6-26

In [13]:
def string_to_date(date_str):
    try:
        return datetime.strptime(date_str, '%Y-%m-%d')
    except:
        return datetime.strptime('1800-1-1', '%Y-%m-%d')
    
def string_to_YM(date_str):
    try:
        return datetime.strptime(date_str, '%Y-%m')
    except:
        return datetime.strptime('1800-1-1', '%Y-%m-%d')

reviews_df['Date'] = reviews_df['Date'].apply(lambda x: string_to_date(x))

reviews_df['Year-Month'] = reviews_df.apply(lambda x: string_to_YM('-'.join([str(x['Year']), str(x['Month'])])), axis=1)

## 1. Filter reviews out of time frame

In [17]:
# further analysis focusing only on the companies with at least 10 reviews in the monitored period
min_date = datetime.strptime('2018-7-1', '%Y-%m-%d')
max_date = datetime.strptime('2020-6-30', '%Y-%m-%d')

reviews_df_1 = pd.DataFrame(
    reviews_df[(reviews_df.Date < min_date) | (reviews_df.Date > max_date)]
)

reviews_df_1.shape

(10510, 17)

## 2. Filter reviews of companies with less than 10 reviews

In [22]:
# count reviews
reviews_count = (
    reviews_df
    .groupby('Company')
    .Rating
    .count()
)

# filter companies
companies_filtered = list(reviews_count[reviews_count<=10].index)

In [23]:
reviews_df_2 = reviews_df[reviews_df.Company.isin(companies_filtered)]
reviews_df_2 = reviews_df_2[(reviews_df_2.Date >= min_date) & (reviews_df_2.Date <= max_date)]

reviews_df_2.shape

(98, 17)

## Concat dataset and save + connect with Kaggle data

In [26]:
reviews_df = pd.concat([reviews_df_1, reviews_df_2])

In [28]:
reviews_df.columns

Index(['id', 'Company_id', 'ReviewTitle', 'Rating', 'JobTitle',
       'EmployeeRelationship', 'Contract', 'Pros', 'Cons', 'Year', 'Month',
       'Day', 'Company', 'Sector', 'ListedOn', 'Date', 'Year-Month'],
      dtype='object')

**Open Kaggle data**

In [29]:
kaggle_path = 'C:\\Data\\UCL\\@MSc Project - Data and sources\\Sentiment training\\train.csv'
kaggle_df = pd.read_csv(kaggle_path)
kaggle_df.head()

,ID,Place,location,date,status,job_title,summary,positives,negatives,advice_to_mgmt,score_1,score_2,score_3,score_4,score_5,score_6,overall
0,1,startup_1,NaN,"Dec 11, 2018",Current Employee,Anonymous Employee,Best Company to work for,People are smart and friendly,Bureaucracy is slowing things down,NaN,4.0,5.0,5.0,4.0,5.0,0,5.0
1,2,startup_1,"Mountain View, CA","Jun 21, 2013",Former Employee,Program Manager,"Moving at the speed of light, burn out is inev...","1) Food, food, food. 15+ cafes on main campus ...",1) Work/life balance. What balance? All those ...,1) Don't dismiss emotional intelligence and ad...,2.0,3.0,3.0,5.0,3.0,2094,5.0
2,3,startup_1,"New York, NY","May 10, 2014",Current Employee,Software Engineer III,Great balance between big-company security and...,"* If you're a software engineer, you're among ...","* It *is* becoming larger, and with it comes g...",Keep the focus on the user. Everything else wi...,5.0,4.0,5.0,5.0,4.0,949,5.0
3,4,startup_1,"Mountain View, CA","Feb 8, 2015",Current Employee,Anonymous Employee,The best place I've worked and also the most d...,You can't find a more well-regarded company th...,I live in SF so the commute can take between 1...,Keep on NOT micromanaging - that is a huge ben...,2.0,5.0,5.0,4.0,5.0,498,4.0
4,10,startup_1,NaN,"Dec 9, 2018",Current Employee,Anonymous Employee,Execellent for engineers,Impact driven. Best tech in the world.,Size matters. Engineers are a bit disconnected...,NaN,5.0,5.0,5.0,5.0,5.0,0,4.0

In [30]:
DF = (
    pd.concat([
        reviews_df[['Pros', 'Cons', 'Rating']],
        kaggle_df[['positives', 'negatives', 'overall']].rename(
            columns = {
                'positives': 'Pros',
                'negatives': 'Cons',
                'overall': 'Rating'
            }
        )
    ])
)

In [33]:
DF

,Pros,Cons,Rating
0,"Friendly colleagues, willing to give you disco...",There are some politics going on (like any oth...,4.0
1,Some nice welcoming colleagues and benefits (M...,"Really poor culture and collaboration spirit, ...",1.0
718,Great teammates and great offices,"Politics and burocracy, big set back",4.0
719,Good work environment and great team,The management wasn’t the best,4.0
763,A lot of great people,"As a retailer, they have a hard time knowing w...",3.0
...,...,...,...
30331,MS is a good company but hire wrong people. Wo...,Senior management has no leadership and very o...,2.0
30332,"Good benefits package, huge customer base.","Politics, very slow, lots of dead wood.",4.0
30333,"-Access to a wide range of technologies, compl...",-Testers(SDET's ) do not get as many opportuni...,3.0
30334,Nice place to work. Good atmosphere with advan...,Management confusion at times with vision for ...,4.0
30335,"Smart people around you, can learn from them","Politics, weak moral, leaning loyalty",3.0

## Save data

In [32]:
output_path = 'C:\\Data\\UCL\\@MSc Project - Data and sources\\Sentiment training\\Reviews_DF.csv'
DF.to_csv(output_path, index=False)

In [36]:
pd.read_csv(output_path).columns

Index(['Pros', 'Cons', 'Rating'], dtype='object')

In [37]:
print(DF.head())

                                                  Pros  \
0    Friendly colleagues, willing to give you disco...
1    Some nice welcoming colleagues and benefits (M...
718                  Great teammates and great offices
719               Good work environment and great team
763                              A lot of great people

                                                  Cons  Rating
0    There are some politics going on (like any oth...     4.0
1    Really poor culture and collaboration spirit, ...     1.0
718               Politics and burocracy, big set back     4.0
719                     The management wasn’t the best     4.0
763  As a retailer, they have a hard time knowing w...     3.0

In [47]:
DF[DF['Cons'].apply(lambda x: len(x.split())) != 0].to_csv(output_path, index=False)

In [48]:
DF[DF['Cons'].apply(lambda x: len(x.split())) != 0].shape

(40943, 3)